[submodule "mongo-csharp-driver"]
	path = mongo-csharp-driver
	url = https://github.com/mongodb/mongo-csharp-driver.git
[submodule "libmongocrypt"]
	path = libmongocrypt
	url = https://github.com/mongodb/libmongocrypt
